/samples/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.log
*.swp
*.bak
*.tmp
*.DS_Store  
*.vscode/
*.idea/
*.vscode-test/
*.coverage

*.gguf
*.env
/RAG_KB/out
/RAG_KB/Oldout

# .out
# *.unstripped